<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeni Kategori Ekle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">Yeni Kategori Ekle</h1>
        <form method="POST">
            <div class="form-group">
                <label for="name">Kategori Adı:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <button type="submit" class="btn btn-primary">Kategori Ekle</button>
        </form>
        <a href="{{ url_for('index') }}" class="btn btn-link mt-4">Ana Sayfaya Dön</a>
    </div>
</body>
</html>
