<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resim Yükle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">Resim Yükle</h1>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Dosya Seç:</label>
                <input type="file" class="form-control-file" id="file" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Yükle</button>
        </form>
        <a href="{{ url_for('index') }}" class="btn btn-link mt-4">Ana Sayfaya Dön</a>
    </div>
</body>
</html>
